In [13]:
import pandas as pd
import requests
import re

In [60]:
data = '<table cellspacing="1" cellpadding="3" class="tb01m" style="font-size:0.8em"><thead class="thd02"><tr><th>Moeda</th><th style="white-space:normal">Real R$ desde 01/07/94</th><th style="white-space:normal">Cruzeiro Real CR$ de 01/08/93 a 30/06/94</th><th style="white-space:normal">Cruzeiro Cr$ de 16/03/90 a 31/07/93</th><th style="white-space:normal">Cruzado Novo NCz$ de 16/01/89 a 15/03/90</th><th style="white-space:normal">Cruzado Cz$ de 28/02/86 a 15/01/89</th><th style="white-space:normal">Cruzeiro Cr$ de 15/05/70 a 27/02/86</th><th style="white-space:normal">Cruzeiro Novo NCr$ de 13/02/67 a 14/05/70</th><th style="white-space:normal">Cruzeiro Cr$ de 01/11/42 a 12/02/67</th></tr></thead><tbody class="tbody01"><tr class="tr05"><td class="tdif02">Real R$<br> desde 01/07/94</td><td class="tdgen01">&nbsp;</td><td>CR$ =<br>R$*1000*2,75</td><td>Cr$ =<br>R$*(1000^2*2,75)</td><td>NCz$ =<br>R$*(1000^2*2,75)</td><td>Cz$ =<br>R$*(1000^3*2,75)</td><td>Cr$ =<br>R$*(1000^4*2,75)</td><td>NCr$ =<br>R$*(1000^4*2,75)</td><td>Cr$ =<br>R$*(1000^5*2,75)</td></tr><tr class="tr04"><td class="tdif02">Cruzeiro <br>Real CR$ de<br>01/08/93 a<br>30/06/94</td><td>R$ =<br>CR$/(1000*2,75)</td><td class="tdgen01">&nbsp;</td><td>Cr$ =<br>CR$*1000</td><td>NCz$ =<br>CR$*1000</td><td>Cz$ =<br>CR$*(1000^2)</td><td>Cr$ =<br>CR$*(1000^3)</td><td>NCr$ =<br>CR$*(1000^3)</td><td>Cr$ =<br>CR$*(1000^4)</td></tr><tr class="tr05"><td class="tdif02">Cruzeiro Cr$ de<br>16/03/90 a<br>31/07/93</td><td>R$ =<br>Cr$/(1000^2*2,75)</td><td>CR$ =<br>Cr$/1000</td><td class="tdgen01">&nbsp;</td><td>NCz$ =<br>Cr$</td><td>Cz$ =<br>Cr$*1000</td><td>Cr$ =<br>Cr$*(1000^2)</td><td>NCr$ =<br>Cr$*(1000^2)</td><td>Cr$ =<br>Cr$*(1000^3)</td></tr><tr class="tr04"><td class="tdif02">Cruzado<br>Novo NCz$ de<br>16/01/89 a<br>15/03/90</td><td>R$ =<br>NCz$/(1000^2*2,75)</td><td>CR$ =<br>NCz$/1000</td><td>Cr$ =<br>Cz$</td><td class="tdgen01">&nbsp;</td><td>Cz$ =<br>NCz$*1000</td><td>Cr$ =<br>NCz$*(1000^2)</td><td>NCr$ =<br>NCz$*(1000^2)</td><td>Cr$ =<br>NCz$*(1000^3)</td></tr><tr class="tr05"><td class="tdif02">Cruzado Cz$ de<br>28/02/86 a<br>15/01/89</td><td>R$ =<br>Cz$/(1000^3*2,75)</td><td>CR$ =<br>Cz$/(1000^2)</td><td>Cr$ =<br>Cz$/1000</td><td>NCz$ =<br>Cz$/1000</td><td class="tdgen01">&nbsp;</td><td>Cr$ =<br>Cz$*1000</td><td>NCr$ =<br>Cz$*1000</td><td>Cr$ =<br>Cz$*(1000^2)</td></tr><tr class="tr04"><td class="tdif02">Cruzeiro Cr$ de<br>15/05/70 a<br>27/02/86</td><td>R$ =<br>Cr$/(1000^4*2,75)</td><td>CR$ =<br>Cr$/(1000^3)</td><td>Cr$ =<br>Cr$/(1000^2)</td><td>NCz$ =<br>Cr$/(1000^2)</td><td>Cz$ =<br>Cr$/1000</td><td class="tdgen01">&nbsp;</td><td>NCr$ =<br>Cr$</td><td>Cr$ =<br>Cr$*1000</td></tr><tr class="tr05"><td class="tdif02">Cruzeiro<br>Novo NCr$ de<br>13/02/67 a<br>14/05/70</td><td>R$ =<br>NCr$/(1000^4*2,75)</td><td>CR$ =<br>NCr$/(1000^3)</td><td>Cr$ =<br>NCr$/(1000^2)</td><td>NCz$ =<br>NCr$/(1000^2)</td><td>Cz$ =<br>NCr$/1000</td><td>Cr$ =<br>NCr$</td><td class="tdgen01">&nbsp;</td><td>Cr$ =<br>NCr$*1000</td></tr><tr class="tr04"><td class="tdif02">Cruzeiro Cr$<br>de 01/11/42 a<br>12/02/67</td><td>R$ =<br>Cr$/(1000^5*2,75)</td><td>CR$ =<br>Cr$/(1000^4)</td><td>Cr$ =<br>Cr$/(1000^3)</td><td>NCz$ =<br>Cr$/(1000^3)</td><td>Cz$ =<br>Cr$/(1000^2)</td><td>Cr$ =<br>Cr$/1000</td><td>NCr$ =<br>Cr$/1000</td><td class="tdgen01">&nbsp;</td></tr></tbody></table>'

In [61]:
df['Moeda']

0    DatetimeIndex(['1994-01-07', '1994-01-08', '19...
1    DatetimeIndex(['1993-08-01', '1993-08-02', '19...
2    DatetimeIndex(['1990-03-16', '1990-03-17', '19...
3    DatetimeIndex(['1989-01-16', '1989-01-17', '19...
4    DatetimeIndex(['1986-02-28', '1986-03-01', '19...
5    DatetimeIndex(['1970-05-15', '1970-05-16', '19...
6    DatetimeIndex(['1967-02-13', '1967-02-14', '19...
7    DatetimeIndex(['1942-11-01', '1942-11-02', '19...
Name: Moeda, dtype: object

In [62]:
df = pd.read_html(data)[0]
df.fillna(1)
df['Moeda'] = df['Moeda'].map(lambda x: [i.group() for i in re.finditer('[0-9]{2}/[0-9]{2}/[0-9]{2}', x)])

In [64]:
df['inicio'] = df['Moeda'][0]

ValueError: Length of values does not match length of index

In [50]:
import datetime
def dt_range(x):
    if len(x) == 2:
        inicio = [int(i) for i in x[0].split('/')]
        inicio = datetime.date(inicio[2] + 1900, inicio[1], inicio[0])        
        
        fim = [int(i) for i in x[1].split('/')]
        fim = datetime.date(fim[2] + 1900, fim[1], fim[0])        
        return pd.date_range(inicio, fim)
    else:
        return pd.date_range(x[0], datetime.date(2099, 12, 31))
df['Moeda'] = df['Moeda'].map(dt_range)

In [59]:
df[df['Moeda'].map(lambda x: datetime.datetime.today() in x)]

Empty DataFrame
Columns: [Moeda, Real R$ desde 01/07/94, Cruzeiro Real CR$ de 01/08/93 a 30/06/94, Cruzeiro Cr$ de 16/03/90 a 31/07/93, Cruzado Novo NCz$ de 16/01/89 a 15/03/90, Cruzado Cz$ de 28/02/86 a 15/01/89, Cruzeiro Cr$ de 15/05/70 a 27/02/86, Cruzeiro Novo NCr$ de 13/02/67 a 14/05/70, Cruzeiro Cr$ de 01/11/42 a 12/02/67]
Index: []